<?xml version="1.0" encoding="utf-8"?>
<!--
 ! Excerpted from "Hello, Android",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material, 
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.pragmaticprogrammer.com/titles/eband3 for more book information.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.mattbentson.sudoku"
    android:versionCode="4"
    android:versionName="3.0" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="edu.neu.madcourse.mattbentson.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="edu.neu.madcourse.mattbentson.permission.C2D_MESSAGE" />

    <application
        android:name="edu.neu.madcourse.mattbentson.App"
        android:icon="@drawable/applogo"
        android:label="@string/app_name" >
        <activity
            android:name="edu.neu.madcourse.mattbentson.Sudoku"
            android:label="@string/main_title" >
        </activity>
        <activity
            android:name="edu.neu.madcourse.mattbentson.About"
            android:label="@string/about_title"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="edu.neu.madcourse.mattbentson.Prefs"
            android:label="@string/settings_title" >
        </activity>
        <activity
            android:name="edu.neu.madcourse.mattbentson.Game"
            android:label="@string/game_title" />
        <activity
            android:name="edu.neu.madcourse.mattbentson.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.neu.madcourse.mattbentson.AboutMe"
            android:label="@string/title_activity_about_me"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.neu.madcourse.mattbentson.Dictionary"
            android:label="@string/title_activity_dictionary"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.neu.madcourse.mattbentson.DictionaryAcks"
            android:label="@string/title_acks" >
        </activity>
        <activity
            android:name="edu.neu.madcourse.mattbentson.WordFade"
            android:label="@string/title_activity_word_fade" >
        </activity>
        <activity
            android:name="edu.neu.madcourse.mattbentson.WordfadeMenu"
            android:label="@string/title_activity_wordfade_menu" >
        </activity>
        <activity
            android:name="edu.neu.madcourse.mattbentson.WordfadeAcks"
            android:label="@string/title_activity_wordfade_acks" >
        </activity>
        <activity
            android:name="edu.neu.madcourse.mattbentson.WordfadeInstructions"
            android:label="@string/title_activity_wordfade_instructions" >
        </activity>
        <activity
            android:name="edu.neu.madcourse.mattbentson.Communication"
            android:label="@string/title_activity_communication" >
        </activity>

        <receiver
            android:name="edu.neu.madcourse.mattbentson.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="edu.neu.madcourse.mattbentson" />
            </intent-filter>
        </receiver>

        <service android:name="edu.neu.madcourse.mattbentson.GcmIntentService" />

        <activity
            android:name="edu.neu.madcourse.mattbentson.WordfadeMulti"
            android:label="@string/title_activity_wordfade_multi" >
        </activity>
    </application>

</manifest>
